<h2>This cow is considered to be armed and extermely dangerous</h2>

  <div class='showCow'>
    <h2>WANTED</h2>
    <div class='cowImage'>
    </div>
    <p>Name: <%= @cow.name %></p>
    <p>Age: <%= @cow.age %></p>

  </div>


<div id='cowAttacks'>
  <h2> This cow has had <%= @attacks.count%> reported attacks </h2>

  <% @attacks.each do |attack| %>
    <div class='cowAttack'>
      <ul>
        <li>Location: <%= attack.location %></li>
        <li>Rating: <%= attack.rating %></li>
      </ul>
    </div>
  <% end %>
</div>