<%= form_for @person, :url => { :action => "create" } do |form| %>
  <h1>Add a victim to the database</h1>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div class="action">
    <%= form.submit 'New Cow' %>
  </div>

<% end %>