<h2>View Person</h2>

  <div class='showPerson'>
    <h2>Victim ID: #<%= @person.id %></h2>
    <p>Name: <%= @person.name %></p>
    <p>Age: <%= @person.age %></p>

  </div>


<div id='cowAttacks'>
  <h2> This Person has has been attacked <%= @attacks.count%> times by cows.  </h2>

  <% @attacks.each do |attack| %>
    <% person = Person.find(attack.person_id) %>
    <% cow = Person.find(attack.cow_id) %>

    <div class='cowAttack'>
      <ul>
        <li><h3>Incident ID: #<%= attack.id %></h3></li>
        <li>--------------------------------</li>
        <li>Location: <%= attack.location %></li>
        <li>Rating: <%= attack.rating %></li>
        <li>Cow Involced: <%=link_to cow.name, cow %> </li>
        <li>Person Involved: <%= link_to person.name, person%></li>
      </ul>
    </div>
  <% end %>
</div>